#request{
    margin-bottom: 2%;
}

.container-req {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.req-q{
    text-align: center;
    color: #000000;
    width: 60%;
    margin: 0 auto;
}


@media(max-width:850px){
    .req-img {
        margin-left: -60% !important;
        margin-bottom: -70px !important;
        width: 140px !important;
    }
    
}


.req-img {
    margin-left: -34%;
    margin-bottom: -5%;
    width: 10%;
}




.req-c p{
    margin-bottom: 3%;
}

.req-c{
    width: 40%;
    height: 340px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 0 40px 0.1px #cccccc;
    padding-top: 8%;
    background-color: #f5f5f5;
    padding-bottom: 3%;
}


@media(max-width:850px){
    .req-q{
        margin-top: 5% !important;
        width: 86% !important;
    }
    
    .req-c{
        padding-top: 65px !important;
        width: 89% !important;
    }
    .container-req{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        display: block;
    }

    .request{
        width: 80% !important;
    }
}



.request {
    margin: 0 auto;
    width: 60%;
}


.req-q h1{
    margin-bottom: -100px;
}

.request p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 2%;
}

.error{
    margin-top: 1vh;
    color: #000000;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 200;
}


input[type="text"] {
    border: none;
    background-color: #00000000;
    border-bottom: 2px solid #9a9a9a;
    margin-bottom: 20px;
    padding: 5px 0;
    outline: none;
    width: 100%; /* Растягиваем инпуты на всю ширину */
    box-sizing: border-box; /* Учитываем внутренние отступы в ширине */
}



button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #000000; 
    color: #fff; 
    cursor: pointer;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #434343; 
}


/* Стилизация капчи (галочки) */
#captchaCheckbox {
    display: none; /* Скрываем сам чекбокс */
}

/* Создаем кастомную стилизацию для капчи */
#captchaCheckbox + label {
    position: relative;
    padding-left: 35px; /* Расстояние между текстом и капчей */
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif; /* Используем указанный шрифт */
    font-weight: 400; /* Нормальное начертание шрифта */
    
}

/* Стили для галочки */
#captchaCheckbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    border: 1.5px solid #000; /* Черная рамка */
    background-color: #fff; /* Белый фон */
    border-radius: 1px;
}

/* Стили для галочки при нажатии на нее */
#captchaCheckbox:checked + label:before {
    background-color: #000; /* Черный цвет галочки при активации */
}

/* Стили для галочки в форме галочки */
#captchaCheckbox:checked + label:after {
    content: '';
    position: absolute;
    left: 6.5px;
    width: 8px;
    height: 15px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); /* Поворачиваем галочку */
    border-color: #fff; /* Цвет галочки */
}
