
h1, h2, h3, h4, h5, h6 p {
    color:  #ffffff;
    margin-left: 10vw;  
    font-family:'Roboto Condensed', sans-serif;
}

        /*Hero*/

.hero h1, p{
    margin-left: 10vw;
    padding-right: 4vw;
    font-family:'Roboto Condensed', sans-serif;
    border: 0;
}

.hero h1{
    padding-top: 20vh;
    margin-bottom: 0;
    font-size: 6vh;
    color: #000;
}

.hero p{
    font-size: 2.3vh;
    padding-right: 4vw;
    color: #000;
}


        /*about*/

.about h1, p{
    color: #ffffff;
    font-family:'Roboto Condensed', sans-serif;
}

.about h1{
    margin-top: 49vh;
    font-size: 3vh;
}

.about p{
    font-size: 2.1vh;
}

        /*advant*/

.advant h1, p{
    color: #ffffff;
    font-family:'Roboto Condensed', sans-serif;
}

.advant h1{ 
    padding-top: 3vh;
    font-size: 3vh;
}

.advant p{
    font-size: 2.1vh;
}



.ad-section h1, p{
    color: #ffffff;
}

.ad-section h1{
    font-size: 2.5vh;
}

.ad-section p{
    font-size: 1.9vh;
}