/*
Отступы с лева 10vw
Отступы с права 4vw
Отступы с низу h1 -
*/

body{
    height: 100%;
    margin: 0;
    background: #111417;
    border: 0;
}


section{
    height: 400px;
}


hr {
	border: solid #707273;

	clear: both;
    margin-left: 10vw;

}
/*
hr {
	border: solid #283436;
	width: 3.5vw;
	clear: both;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

:hover h1 + hr {
	border-color: #9e2626;
	width: 3.5vw;

}

ПРОТОТИП */


/*Hero*/

.hero{
    background: #0f1223 url(../set.png) no-repeat center;
    background-size: cover;
    min-height: 650px;
    width: 100%;
    position: relative;
}


/*about*/


/*footer*/ 
footer{
    background-color: #13141e;
    height: 400px;
}
